.DS_Store

# Wildcat
Gemfile*
config*.rb
model/
renderer/
server/
utilities/
wildcat*


# [rd]
# pages/images is a symbolic link to ../images to make
# preview in BBEdit work without adding an extra ../ whilst testing
pages/images
