<!DOCTYPE html>
<html>
<head>
	<title>[[@title]]</title>
	<meta name=viewport content="width=device-width">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel=stylesheet type=text/css href=https://netnewswire.com/help/styles/styleSheetHelpBook.css />	
	<link rel="shortcut icon" href=https://netnewswire.com/images/nnw_icon_32.png />
</head>

<body>

<header>
<img class="centeredImage" src="../../../images/NNW-iOS-Icon-Shadow.png" height=256 width=256 alt="NetNewsWire for Mac icon: globe with a satellite in the foreground.">
</header>

<main>
<h1>[[@title]]</h1>
[[@content_html]]
</main>

[[=footerHelpBook.html]]
