<!DOCTYPE html>
<html>
<head>
	<title>NetNewsWire 5 for Mac Help: [[@title]]</title>
	<meta name=viewport content=width=device-width />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel=stylesheet type=text/css href=https://ranchero.com/netnewswire/help/styles/styleSheet.css />	
	<link rel="shortcut icon" href=https://ranchero.com/images/nnw_icon_32.png />
</head>

<body>

<header><a href="./">NetNewsWire 5 for Mac Help</a></header>

<main>
<article>
<p class="tocLink"><a href="./">← Table of Contents</a></p>
<h1>[[@title]]</h1>
[[@content_html]]
</article>
</main>

[[=footer.html]]
