body
{
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	line-height: 1.7em;
	font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 1.2em;
	color: #333;
	background-color: white;
}


/***************************
 *  P A G E   H E A D E R  *
 ***************************/

header
{
	line-height: 2em;
	padding-top: 8px;
	padding-bottom: 8px;
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	background-color: rgba(0, 0, 0, 0.8);
}

header a:link, header a:visited
{
	color: rgba(255, 255, 255, 1.0);
	text-decoration: none;
}


/*************
 *  M A I N  *
 *************/

main
{
	padding-top: 40px;
	padding-bottom: 2em;
	max-width: 650px;
	margin-left: auto;
	margin-right: auto;
}

@media (max-width: 760px)
{
	main
	{
		width: 500px;
		max-width: 500px;
		min-width: 500px;
	}
}

@media (max-width: 600px)
{
	main
	{
		width: 450px;
		max-width: 450px;
		min-width: 450px;
	}
}

@media (max-width: 480px)
{
	main
	{
		width: 300px;
		max-width: 300px;
		min-width: 300px;
	}
}


/*********************************
 *  N A V I G A T I O N   B A R  *
 *********************************/

nav
{
	color: #999;
	text-align: center;
	padding-top: 52px;
	border-top: 1px solid #ddd;
}



/*********************
 *  H E A D I N G S  *
 *********************/

h1, h2, h3, h4, h5, h6 { color: #333; }

h1
{
	font-size: 34px;
	line-height: 1.3em;
}

h2
{
	font-size: 28px;
	margin-top: 2em;
}

h3 {
	font-size: 22px;
}

h4
{
	margin-bottom: 1em;
	color: #444;
}



/*****************
 *  F O O T E R  *
 *****************/

footer
{
	margin-bottom: 0;
	padding-top: 14px;
	padding-bottom: 32px;
	color: #999;
	text-align: center;
}

footer p { margin-bottom: 18px; }
footer a:link, #footer a:visited { color: rgba(70, 140, 220, 0.75); }



/*************
 *  T E X T  *
 *************/

a { text-decoration: none; }
a:link { color: #086aee; }
a:visited { color: rgba(110, 153, 139, 1.0); }

/* reduce the weight of plain strong items as they'll
   be inline; make them just heavy enough to be noticeable */
strong { font-weight: 600; }

code, pre
{
	font-family: "SF Mono", Menlo, "Courier", monospace;
	font-size: 16px;
	color: #666;
	white-space: pre-wrap;
}



/*****************
 *  I M A G E S  *
 *****************/

.centeredImage
{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.listImage {
	margin-top: 1.7em;
	margin-bottom: 1.7em;
}

.shadowedBox
{
	box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.2);
}

.lightBorder
{
	border: 1px solid #C7C7C7;
}



/*****************
 *  B A D G E S  *
 *****************/

/* all badges have these properties */
span.badge-warning,
span.badge-warning-small,
span.badge-note,
span.badge-note-small,
span.badge-distro,
span.badge-distro-small,
span.badge,
span.badge-small {
	padding: 0em 0.3em;
	font-weight: 600;
	border: 2px solid;
	border-radius: 6px;
}

/* set colours for each badge type */
span.badge-warning,
span.badge-warning-small {
	background-color: #FFCA00;
	border-color: #F1A100;
	color: black;
}

span.badge-note,
span.badge-note-small {
	background-color: #00AF88;
	border-color: #008C6D;
	color: white;
}

span.badge-distro,
span.badge-distro-small,
span.badge,
span.badge-small {
	background-color: #3170DC;
	border-color: #1E49AF;
	color: white;
}

/* reduce the size for the -small ones */
span.badge-warning-small,
span.badge-note-small,
span.badge-distro-small,
span.badge-small {
	padding-top: 0.05em;
	padding-bottom: 0.05em;
	font-size: 0.9rem;
	text-transform: uppercase;
}

.note {
	font-size: 0.8em;
	line-height: 1.4em;
}



/*******************
 *  C O L U M N S  *
 *******************/

/* only display columns if the
   browser window is large enough */

@media (min-width: 760px)
{
	div.columns { display: flex; }
	
	div.column-left,
		div.column-right
	{
		padding: 0.5em;
		min-width: 50%;
	}
}



/*****************
 *  T A B L E S  *
 *****************/

table { font-size: inherit; line-height: inherit; }

th, caption {
	font-size: 22px;
}

table.keyboard-shortcuts {
	width: 80%;
	margin: 0 auto 2em auto;
	-webkit-border-horizontal-spacing: 0;
	-webkit-border-vertical-spacing: 0;
}

table.keyboard-shortcuts tbody tr:nth-child(odd) {
	background-color: #F0F0F0;
}

table.keyboard-shortcuts tr td:first-child {
	width: 70%;
}

table.keyboard-shortcuts th { font-style: italic; }

table.keyboard-shortcuts em { font-weight: 200; }