:root {
	color-scheme: light dark;
	--font-family: "Helvetica Neue", Helvetica, sans-serif;
	--background-color: #f9f9f9;
	--alternate-background-color: #f0f0f0;
	--main-border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	--nav-background-color: rgba(0, 0, 0, 0.75);
	--header-link-color: rgba(255, 255, 255, 0.9);
	--color: rgba(0, 0, 0, 0.75);
	--link-color: hsl(214, 65%, 55%);
	--alternate-link-color: hsl(214, 65%, 65%);
	--link-visited-color: hsl(250, 27%, 56%);
	--separator-background-color: rgba(0, 0, 0, 0.1);
	--note-color: rgba(0, 0, 0, 0.35);
	--footer-color: rgba(255, 255, 255, 0.65);
	--screenshot-shadow: 0 10px 15px 10px rgba(164, 164, 164, 0.1);
/* 	--header-background-color: #414141; */
	--header-background-color: var(--link-color);
	--header-border-color: hsl(214, 65%, 25%);
	--footer-background-color: #414141;
}
@media(prefers-color-scheme: dark) {
	:root {
	--background-color: hsl(214.4, 30%, 15%);
	--alternate-background-color: rgba(255, 255, 255, 0.1);
	--main-border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	--nav-background-color: rgba(0, 0, 0, 0.75);
	--nav-link-color: rgba(255, 255, 255, 0.5);
	--color: rgba(255, 255, 255, 0.8);
	--link-color: hsl(214, 65%, 55%);
	--link-visited-color: hsl(250, 27%, 56%);
	--separator-background-color: rgba(255, 255, 255, 0.35);
	--note-color: rgba(255, 255, 255, 0.35);
	--footer-color: rgba(255, 255, 255, 0.5);
	--screenshot-shadow: none;

	}
}

body
{
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	line-height: 1.7em;
	font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 1.2em;
	color: var(--color);
	background-color: var(--background-color);
}

header {
	line-height: 2em;
	padding-top: 8px;
	padding-bottom: 8px;
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	background-color: var(--header-background-color);
	border-boxttom: 1px solid var(--header-border-color);
}

header a:link, header a:visited {
	color: var(--header-link-color);
}
main
{
	padding-top: 40px;
	padding-bottom: 2em;
	max-width: 650px;
	margin-left: auto;
	margin-right: auto;
}

@media (max-width: 760px)
{
	main
	{
		width: 500px;
		max-width: 500px;
		min-width: 500px;
	}
}

@media (max-width: 600px)
{
	main
	{
		width: 450px;
		max-width: 450px;
		min-width: 450px;
	}
}

@media (max-width: 480px)
{
	main
	{
		width: 300px;
		max-width: 300px;
		min-width: 300px;
	}
}

nav {
	color: var(--footer-color);
	text-align: center;
}

h1 {
	font-size: 34px;
	line-height: 1.3em;
}
h2 {
	font-size: 28px;
	margin-top: 2rem;
}
h3 {
	font-size: 22px;
}
h4 {
	margin-bottom: 1em;
}

footer {
	padding-top: 1rem;
	padding-bottom: 1.5rem;
	text-align: center;
    color: var(--footer-color);
    background-color: var(--footer-background-color);
    border-top: 1px solid black;
}

footer a:link, footer a:visited {
	color: var(--footer-link-color);
}

a {
	text-decoration: none;
}
a:link {
	color: var(--link-color);
}
a:visited {
	color: var(--link-visited-color);
}
a:hover {
	text-decoration: underline;
	text-underline-offset: 3px;
}
code, pre {
	font-family: "SF Mono", Menlo, "Courier", monospace;
	font-size: 16px;
	white-space: pre-wrap;
}

p > code, pre {
	background-color: var(--alternate-background-color);
	border: var(--main-border-bottom);
	border-radius: 3px;
	padding: 0 0.25em;
}

pre {
	margin-left: 2em;
}

.centeredImage
{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.listImage {
	margin-top: 1.7em;
	margin-bottom: 1.7em;
}

.ios-inline-button {
	height: 1em;
	vertical-align: -0.1em;
}

.ios-inline-button-large {
	height: 1.2em;
	vertical-align: -0.2em;
}

.round {
	border-radius: 8px;
}

p.note, span.note {
	font-size: 0.8em;
	line-height: 1.4em;
	margin-top: -1.2em;
	color: var(--note-color);
}

/* only display columns if the
   browser window is large enough */

@media (min-width: 760px)
{
	div.columns { display: flex; }

	div.column-left
	{
		padding: 0 0.5em 0 0;
	}

	div.column-right
	{
		padding: 0 0 0 0.5em;
	}
}


table { font-size: inherit; line-height: inherit; }

th, caption {
	font-size: 22px;
}

table.keyboard-shortcuts {
	width: 80%;
	margin: 0 auto 2em auto;
	-webkit-border-horizontal-spacing: 0;
	-webkit-border-vertical-spacing: 0;
}

table.keyboard-shortcuts tbody tr:nth-child(odd) {
	background-color: var(--alternate-background-color);
}

table.keyboard-shortcuts tr td:first-child {
	width: 70%;
}
